/*
|--------------------------------------------------------------------------
| File upload
|--------------------------------------------------------------------------
|
*/

.fileupload {
    position: relative;
    text-align: center;
    color: #ccc;
    cursor: pointer;

    img {
        position: relative;
        z-index: 10;
        width: 100%;
    }

    .placeholders {
        display: none;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;

        i {
            position: relative;
            top: 74px;
            font-size: 60px;

            &.error {
                display: none;
                color: #ff4500;
            }
        }
    }

    .progress {
        display: none;
        position: relative;
        z-index: 1;
        margin: 85px 10px 0;

        .progress-bar {
            width: 0%;
            transition: none;
        }
    }

    ol {
        margin: 0;
        text-align: left;
        padding: 5px 10px;
        word-break: break-word;

        li {
            margin: 5px 0 5px 25px;
            color: #666;
        }

        li:only-child {
            margin: 5px 0 5px 0;
            list-style: none;
        }
    }

    &.empty,
    &.uploading,
    &.with-error {
        min-height: 200px;
    }

    &.empty {
        .placeholders {
            display: block;
        }
    }

    &.with-error {

        .placeholders {
            display: block;

            .idle {
                display: none;
            }

            .error {
                display: block;
            }
        }
    }

    &.dragover {
        background-color: LightYellow;
        color: #000;
    }

    &.uploading {

        .progress {
            display: block;
        }
    }
}

.fileupload-group {
    position: relative;

    .fileupload-comments {
        position: relative;
        top: 6px;
        margin-top: -8px;
        color: #aaa;
        outline: 0;
        text-decoration: none;
    }

    input {
        // Hide input without using "display: none" or "visibility: hidden",
        // otherwise it won't trigger dynamically
        position: absolute;
        height: 0;
        width: 0;
    }
}

.popover-content {

    ul {
        margin: 0;
        padding-left: 15px;
    }
}

/*
|--------------------------------------------------------------------------
| Media modal
|--------------------------------------------------------------------------
|
*/

.current-media {
    margin-top: 20px;

    .media-item {
        position: relative;
        min-height: 145px;
        margin-bottom: 10px;
        padding: 3px;
        border: 1px solid #e5e5e5;

        img {
            max-height: 350px;
            max-width: 100%;
            transition: opacity 0.2s ease-in-out;
        }

        .actions {
            position: absolute;
            top: 0;
            margin: 15px;
            padding: 15px;
            background: rgba(255,255,255,0.9);
            opacity: 0;
            filter: ~"alpha(opacity=0)";
            transition: opacity 0.2s ease-in-out;

            .media-item-details {
                margin-bottom: 20px;

                .media-item-detail-block {
                    margin: 0;
                }
            }
        }

        &:hover {

            img {
                opacity: 0.5;
                filter: ~"alpha(opacity=50)";
            }

            .actions {
                opacity: 1;
                filter: ~"alpha(opacity=100)";
            }
        }
    }
}

.drag-and-drop {
    height: 400px;
    margin-top: 20px;
    padding-top: 30px;
    border: 3px dashed #e5e5e5;
    text-align: center;

    button {
        display: block;
        margin: 10px auto;
    }

    .drop-text {
        display: none;
    }

    .drag-text {
        display: inline-block;
    }

    &.dragover {
        border-style: solid;
        background-color: LightYellow;
        color: #000;

        .drop-text {
            display: inline-block;
        }

        .drag-text {
            display: none;
        }
    }
}

.media-save-meta {

    i {
        display: none;
        position: relative;
        top: 3px;
        font-size: 18px;
        line-height: 10px;

        &.meta-save-active {
            display: inline-block;
        }
    }

    .meta-save-loading {
        -webkit-animation:spin 2s linear infinite;
        -moz-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite;
    }

    &.loading {

        .meta-save-loading {
            display: inline-block;
        }

        .meta-save-active {
            display: none;
        }
    }

    &.success {

        .meta-save-success {
            display: inline-block;
        }

        .meta-save-active {
            display: none;
        }
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }